@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(/fonts/Poppins-Regular.ttf);
}

.Poppin {
  font-family: Poppin;
}
@font-face {
  font-family: Blud;
  src: url(/fonts/Poppins-Bold.ttf);
}

.Blud {
  font-family: Blud;
}

:root {
  font-family: Poppin, Blud;
}
